/* ここから下に記載していく */

/* 共通部分--------------------------------------------- */
html{
    font-size: 100%;;
}

body{
    font-family: 'Philosopher', sans-serif;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h2{
    font-size: 37px;
}
.wrap{
    margin: 0% 60px;
}

/* header---------------------------------------------- */   
#header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 121px;
    position: fixed;
}
.navi-list{
    display: flex;
    margin: 50px;
}
.navi-list-item{
    font-size: 21px;
    margin: 50px;;
}
.header__logo{
    margin-left: 30px;
}
/* mainvisual---------------------------------------------- */
.main__image{
    width: 100%;
    height: 600px;
    background-image: url(../img/mainbg.png);
    background-position: center;
    background-size: cover;
    padding-top:130px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.main__image p{
    font-style: 24px;
    font-weight: bold;
    color: rgb(195, 251, 12);

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-lan__top{
    font-size: 120px;
    font-weight: bolder;
}
.main-lan__bottom{
    padding-top: 30px;
    font-size: 40px;
}
.main_logo {
    display: none;
}

/* about------------------------------------------------------ */
.ab-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    
}
.ab-sen {
    text-align: center;
    font-size: 12px;
    line-height: 1.5em;
}
.p-1{
    padding: 60px 0 50px;
}
.p-3{
    padding: 40px 0 40px;
}
.p-4{
    padding-bottom: 80px;
}
/* --------------------------------------------------------------- */
.slids{
    display: flex;
    justify-content: center;
}

.slids{
    width: 100%;
    height: 100%;
  }
  
.slids img {
    width: 700px;
    object-fit: cover;
}

/* COURSE-------------------------------------------------- */
.course{
    text-align: center;
    margin: 0 auto;
}

.co-title{
    padding-bottom: 30px;

}

.co-p{
    padding-bottom: 60px;
}
.co-p p{
    font-size: 12px;
    line-height: 1.5em;
}

/* game-------------------------------------------------------------------------- */
#game_area{
    width: 100%;
    height: 600px;
    background-color: #fff;
}

#ball{
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    left: 0px;
    top: 0px;
    position: relative;
    transition: left 2s, top 2s;
    
}
#ball:after {
    content: "";
    clear: both;
    display: block;
  }
/* -------------------------------------------- */

/* .slide-wrapper{
    text-align: center;
    padding-bottom: 120px;
} */
/* .change-btn-wrapper{ */
    /* width: 700px; */
    /* margin: 20px auto; */
    /* font-size: 11px; */
/* } */
/* .change-btn-wrapper::after{ */
    /* content: ""; */
    /* clear: both; */
    /* display: block; */
/* } */
/* .prev-btn{ */
    /* cursor: pointer; */
    /* float: left; */
/* } */
/* .next-btn{ */
    /* cursor: pointer; */
    /* float: right; */
/* } */
.slides{
    padding: o;
}
.slide{
    display: none;
}

#fast{         
    display: none;
}
.active{
    display: block;
}
.slide img{
    width: 700px;
    height: auto;
}
/* NEWS----------------------------------------------- */
.news{
    text-align: center;
    margin: 0 auto;
}
.n-title h2{
    padding-top: 60px;
    padding-bottom: 30px;
}
.n-title p{
    font-size: 12px;
    padding-bottom: 60px;
}
.newsimage{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
    justify-content: center;
}
.img_left .img_center .img_right{
    width: 300px;
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.img_left {
    width: 100%;
    transition-duration: 0.5s;
}
.img_left:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.img_center {
    width: 100%;
    transition-duration: 0.5s;
}
.img_center:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.img_right {
    width: 100%;
    transition-duration: 0.5s;
}
.img_right:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.img_left p{
    font-size: 12px;
    line-height: 1.5em;
    padding: 0;
}
.img_center p{
    font-size: 12px;
    line-height: 1.5em;
}
.img_right p{
    font-size: 12px;
    line-height: 1.5em;
}
/* --------------------------------------------- */
.button {
    font-size: 20px;
    background: rgb(249, 214, 17);
    color: #fff;
    border-radius: 2px;
    padding: 17px 100px;
}
.button:hover{
    background: rgb(207, 178, 14);
}
.nmore{
    margin: 60px;
}
/* ACSESS--------------------------------------------------------------- */
#location{
    width: 1100px;
    background-color: rgb(239, 237, 237);
    text-align: center;
    margin: 0 auto;
}
.wrapper h2{
    padding-top: 60px;
    padding-bottom: 30px;
}
.wrapper h3{
    padding-bottom: 30px;
}
th{
   text-align: left; 
}
td{
    text-align: left;
}
th, td{
    border: solid 30px rgb(239, 237, 237);
}
table{
    margin: auto;
}
/* CONTACT ---------------------------------------------------------------------- */
.contact{
    text-align: center;
    margin: 0 auto;
}
.contact p{
    font-size: 12px;
    line-height: 1.5em;
}
h2 {
    padding-top: 60px;
    padding-bottom: 30px;
}
.cot{
    padding-bottom: 60px;
}
.coc{
    padding-bottom: 30px;
}
.cob{
    padding-bottom: 70px;
}
/* ------------------------------------------------ */
.aaa th{
    font-size: 12px;
    border: solid 1px #bfbfbf;
    border-left: 0;
    width: 200px;
}
.aaa td{
    font-size: 12px;
    border: solid 1px #bfbfbf;
    border-right: 0;
    padding: 16px;
}
.aaa{
    border-top: solid 2px #bfbfbf;
}
.ttt{
    width: 380px;
}
.lol{
    padding-bottom: 130px;
}
/* ------------------------------------------------- */
.bbb{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 140px;
   
}
/* footer------------------------------------------------------- */
#footer{
    background-color: #707070;
}
#footer p{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 576px){
    /*SP 時の CSS をここに記入 */
    body{
        background-color: blue;
    }
 }
